* {
    padding: 0;
    margin: 0;
}

.cabecalho {
    background: rgb(247,203,21,1);
    background: linear-gradient(90deg, rgba(247,203,21,1) 0%, rgba(208,28,100,1) 100%); 
    background-color: #d01c64;
    padding: 1rem 15%;
    align-items: center;
    border-bottom: 2px solid #ffffff;
}

.itens__cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo__cabecalho {
    height: 2.5rem;
}

.links__cabecalho {
    display: flex;
    gap: 40px;
}

.link__cabecalho {
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: #ffffff;
}

.banner__principal {
    padding: 5rem 15%;
    /* background-color: #D01C64; */
    background: rgb(208,28,100);
    background: linear-gradient(90deg, rgba(208,28,100,1) 0%, rgba(247,203,21,1) 100%); 
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

.banner__logo {
    height: 120px;
    margin-bottom: 40px;
}

.banner__textos {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    color: white;
}

.banner__titulo1 {
    font-size: 32pt;
    margin-bottom: 5px;
}

.banner__titulo2 {
    font-size: 24pt;
    margin-bottom: 40px;
}

.banner__paragrafo {
    font-size: 16pt;
}

.banner__imagem {
    max-height: 400px;
}

.banner__secundario {
    padding: 4rem 15%;
    /* background-color: #D01C64; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5rem;
}

.banner__secundario__imagem {
    max-height: 400px;
}

.banner__secundario__textos {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    width: 35%
}

.sobre-nos {
    padding: 3rem 0;
    text-align: center;
    background-color: #F7F7FF;
}

.secao__titulo {
    padding: 0 0 2rem 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22pt;
    margin-bottom: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    padding: 0 15%;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card__equipe {
    /* background-color: #d01c64; */
    background: rgb(208,28,100);
    background: linear-gradient(180deg, rgba(208,28,100,1) 0%, rgba(220,84,75,1) 100%); 
    color: #ffffff;
    width: 20rem;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.card__retrato {
    width: 300px;
    margin-bottom: 25px;
    border-radius: 10px;
}

.card__equipe__nome {
    padding-bottom: 15px;
    font-size: 18pt;
    font-weight: bold;
}

.card__equipe__cargo {
    padding-bottom: 10px;
    font-size: 14pt;
}

.saiba-mais {
    padding: 3rem 15%;
    text-align: center;
}

.saiba-mais__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    text-align: start;
    flex-wrap: wrap;
}

.saiba-mais__imagem__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
}

.saiba-mais__imagem {
    width: 90%;
    /* max-height: 474px; */
}

.saiba-mais__conteudo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    width: 45%;
}

.saiba-mais__titulo {
    font-size: 20pt;
    margin-bottom: 30px;
}

.saiba-mais__paragrafo {
    font-size: 14pt;
}

.formulario {
    margin-top: 50px;
    text-align: center;
    padding: 30px;
    align-self: center;
    align-items: center;
    /* background-color: #d01c64; */
    background: rgb(208,28,100);
    background: linear-gradient(180deg, rgba(208,28,100,1) 0%, rgba(220,84,75,1) 100%); 
    color: white;
    border-radius: 15px;
}

.formulario__campo {
    margin-bottom: 20px;
    width: auto;
}

.formulario__campo__input {
    width: 70%;
    margin-top: 5px;
    height: 25px;
}

.formulario__campo__input2 {
    width: 70%;
    margin-top: 5px;
    height: 60px;
}

.formulario__botao {
    padding: 10px;
    width: 150px;
    background-color: #f7cb15;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    border-radius: 10px;
    font-weight: bold;
}


.rodape {
    background: rgb(247,203,21,1);
    background: linear-gradient(90deg, rgba(247,203,21,1) 0%, rgba(208,28,100,1) 100%); 
    background-color: #d01c64;
    padding: 1rem 15%;
    height: 5rem;
}

.itens__rodape {
    padding: 25px 0;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: space-between;
}

.logo__rodape {
    height: 2.5rem;
}

.links__rodape {
    display: flex;
    gap: 40px;
}

.link__rodape {
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: #ffffff;
}

.link__rodape__img {
    height: 30px;
}